machine:
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        vip:
          ip: ${vip_ip}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}

cluster:
  allowSchedulingOnControlPlanes: true
  